<%- include ('./partials/head.ejs') %>
<%- include ('./partials/nav.ejs') %>




<section>

    <h1>Bekijk polls</h1>
    <p>Bekijk de polls die de admin gepost heeft en vul ze in. Drag en drop de polls die je niet wilt invullen.</p>


   

</section>

<section>

    <div>
    <% data.forEach(pollList => { %>
        
    <form method="post" enctype="application/x-www-form-urlencoded" action="/<%- pollList.id %>"
        class="border draggable" draggable="true">
        <h2><%= pollList.vraag %></h2>

        <input type="radio" id="<%= pollList.antwoordA %>" name="answer" value="<%= pollList.antwoordA %>" required>
        <label class="inline" for="<%= pollList.antwoordA %>"><%= pollList.antwoordA %></label>

        <input type="radio" id="<%= pollList.antwoordB %>" name="answer" value="<%= pollList.antwoordB %>" required>
        <label class="inline" for="<%= pollList.antwoordB %>"><%= pollList.antwoordB %></label>

        <input type="submit" value="versturen" />
    </form>
    <% }); %>

</div>



<div class="drop-zone">
    <img src="img/trash.png" alt="trashcan icon">
</div>

</section>



<%- include ('./partials/footer.ejs') %>