<%- include ('./partials/head.ejs') %>
<%- include ('./partials/nav.ejs') %>

    <h1>Bekijk antwoorden</h1>
    <p>Bekijk de stats die anderen ingevuld hebben</p>

<h2>Hoeveelheid die antwoord A koos</h2>
    <p><%= hoeveelheidA %></p>

    <h2>Hoeveelheid die antwoord B koos</h2>
    <p><%= hoeveelheidB %></p>


    <%- include ('./partials/footer.ejs') %>